body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
  }
  #taskInput {
    width: 300px;
    padding: 5px;
    margin-right: 5px;
  }
  #addTaskBtn {
    padding: 5px;
  }
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  .taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
  }
  .deleteBtn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  /* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 80px 100px;

}



footer {
  background-color: rgb(92, 77, 53);
  color: white;
  padding-top: 10PX;
  margin-top: 50px;
}


.canv p {
  width: 257px;
}

.canv h5 {
  size: 20px;
}

